# Venice Meteorological Data Analysis

In [2]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
warnings.filterwarnings('once')
%matplotlib inline

## Importing Datasets
Below, we'll import and explore summaries of all the collected datasets from Venice meteorological centres.

In [ ]:
#For easy imports of data, enter the path to this repository/folder on your machine:
path = input()

In [6]:
#astronomical tides
astro_tide_2022 = pd.read_json('/Users/cyrilmichino/Dropbox/Bocconi/Data Science/venice-meteo-analysis/astronomical_tide_2022.json')
astro_tide_2022.head()

                  data  valore
0  2022-01-01 00:00:00      45
1  2022-01-01 00:05:00      44
2  2022-01-01 00:10:00      43
3  2022-01-01 00:15:00      42
4  2022-01-01 00:20:00      42